body, p, h1, h2, h3, h4, h5, ul, li, a{
    margin: 0;
    font-weight: lighter;
}

html * {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container {
    padding: 5% 10% 5%;
}

.backg-img {
    background-image: url(fondo2.png);
    background-size: cover;
}

.body {
    display: flex;
    flex-direction: column;
    /* border: 7px solid green; */
}

.body > * {
     /* border: 5px dotted red; */
} 

.nav {
    display: flex;
    /* border: 10px solid green; */
    flex-direction: column;
}

/* Nav Bar */
.nav-bar {
    /* border: 10px dotted red; */
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bar li {
    /* border: 3px solid yellow; */
    border-right: 2px solid rgba(230, 227, 227, 0.397);
    display:flex;
    align-items: stretch;
}

.nav-bar li:last-child{
    border-right:none;
}

.nav-bar li a {
    padding: 0.5rem 1rem 0.5rem;
    /* border: 1px dotted white; */
    background-color: rgba(212, 179, 179, 0.397);
    color: white;
    text-decoration: none;
}

/* Personal Data */

.personal {
    padding: 5% 10% 0%;
    /* border: 10px dotted red; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.personal img {
    /* border: 5px solid yellow; */
    max-block-size: 12rem;
    border-radius: 100rem;
    /* border: 5px solid darkred; */
    background-color: rgba(87, 0, 0, 0.26);
}

.personal p {
    padding: 1rem;
    font-size: 20px;
    color: rgb(153, 11, 11);
    font-weight: bold;
    /* border: 5px solid yellow; */
}

/* Second section */

.education {
    background-color: #362247;
    display: flex;
    justify-content: center;
}

.studies h1 {
    font-weight: bold;
}

.studies {
    max-width: 25rem;
    background-color: rgba(204, 204, 204, 0.226);
    border-radius: 10px;
    color: rgb(202, 197, 197);
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.studies div {
    padding: 1rem 0 1rem;
}

.studies h2 {
    border-bottom: 3px solid rgba(151, 151, 151, 0.301);
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
}

/* Knowledge section */

.knowledge {
    /* background-color: #b27f7f; */
    background-image: url(fondo5.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 50rem;
}

.language {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #843232;
    color: rgb(202, 197, 197);
    flex-basis: 10rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.language h3 {
    padding-bottom: 0.5rem;
    font-size: 16px;
}

progress {
    border-radius: 20px; 
    width: 80%;
    height: 15px;
  }
  progress::-webkit-progress-bar {
    background-color: #b27f7f;
    border-radius: 20px;
  }
  progress::-webkit-progress-value {
     background-color: #660000;
     border-radius: 20px; 
  }

  .knowledge .title {
      width: 100%;
      text-align: center;
      padding-bottom: 2rem;
      font-weight: bold;
      color: rgb(202, 197, 197);
  }

  /* Timeline experience */
  
  .experience {
    background-color: #362247;
    color: rgb(202, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experience h1 {
      font-weight: bold;
  }

  .timeline {
    margin-top: 2rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
  }

  .timeline-title {
    flex: 1;
    margin: 1rem 0 1rem;
    background-color: rgba(204, 204, 204, 0.226);
    padding: 0.5rem;
    border-radius: 10px;
  }

  .timeline div {
    margin: 1rem 0 1rem;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.226);
    padding: 1rem;
    list-style-type: none;
  }

  .timeline h3 {
      padding-bottom: 0.5rem;
      border-bottom: 2px solid rgba(230, 227, 227, 0.397);
      margin-bottom: 0.5rem;
      
  }

  .timeline h2 {
      text-align: center;
      font-weight: bold;
  }

  /* Hobbies section */

.hobbies {
    background-color: #813741;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(202, 197, 197);
}

.hobbies-title {
    font-weight: bold;
    padding-bottom: 1rem;
}

.hobbies-p {
    max-width: 30rem;
    text-align: center;
}
.pictures{
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    max-width: 50rem;
    align-content: center;
    align-items: center;
}

.pictures img {
    /* border-radius: 5px; */
    block-size: 10rem;+

    /* border: 5px solid rgba(230, 227, 227, 0.397); */
    /* padding: 0.5rem; */
}

/* footer */

.footer {
    background-color: rgb(33, 16, 35);
    color: rgb(202, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 12px;
}

.footer-list {
    display: flex;
    padding: 0.5rem;
    list-style-type: none;
}

.footer-list a {
    color: rgb(202, 197, 197);
    text-decoration: none;
    padding-left: 1rem;
}


